@model LojaNinja.Dominio.Pedido

@{
    ViewBag.Title = "Detalhes";
}

@section Styles {
    <link href="~/Content/Site/Pedidos/Detalhes.css" rel="stylesheet" />
}

<div class="page-header">
    <h1>Detalhes do pedido <small>Veja os detalhes do pedido a partir dessa pagina</small></h1>
</div>

<div class="row detalhes">
    <div class="col-sm-8">
        <h3>
            <strong>
                @Html.DisplayNameFor(model => model.NomeProduto):
            </strong>
            @Html.DisplayFor(model => model.NomeProduto)
        </h3>
        <p>
            <strong>
                @Html.DisplayNameFor(model => model.ValorVenda):
            </strong>
            @string.Format("{0:c}", Model.ValorVenda)
            <br>

            <strong>
                @Html.DisplayNameFor(model => model.DataEntrega):
            </strong>
            @Model.DataEntrega.ToShortDateString()
            <br>

            <strong>
                @Html.DisplayNameFor(model => model.DataPedido):
            </strong>
            @Model.DataPedido.ToShortDateString()
            <br>

            <strong>
                @Html.DisplayNameFor(model => model.NomeCliente):
            </strong>
            @Html.DisplayFor(model => model.NomeCliente)
            <br>

            <strong>
                @Html.DisplayNameFor(model => model.Cidade):
            </strong>
            @Html.DisplayFor(model => model.Cidade)
            <br>

            <strong>
                @Html.DisplayNameFor(model => model.Estado):
            </strong>
            @Html.DisplayFor(model => model.Estado)
        </p>
    </div>
    <div class="col-sm-4 @(Model.Urgente ? "urgente" : "nao-urgente")">
        <span class="glyphicon glyphicon-flag" data-toggle="tooltip" data-placement="right" title="Pedido urgente!"></span>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Salvar", new { id = Model.Id }) |
    @Html.ActionLink("Voltar a lista", "Index")
</p>
